########################################
# 📦 Dépendances principales (production)
########################################
fastapi>=0.115,<0.116
uvicorn>=0.32,<0.33
sqlalchemy>=2.0,<2.1
psycopg2-binary>=2.9,<3.0
shapely>=2.0,<2.1
pyyaml>=6.0,<7.0
pydantic>=2.9,<2.10
python-dotenv>=1.0,<2.0

########################################
# 🔤 NLP (Spacy et dépendances)
########################################
spacy>=3.7,<3.8
